.files-title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    font-size: 19px;
}
.files-title .anticon {
    margin-right: 6px;
}
.list-item {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}
.list-item > div {
    margin-bottom: 10px;
}